body {
    box-sizing: border-box;
}

.jumbotron {
    margin-left: 10px;
    margin-top: 10px;
}
table, form {
    border: 2px double grey;
}

table {
    margin-left: 8px;
}

.table-responsive-sm {
    margin-bottom: 100px;
}

form {
    background: lightblue;
}

h4.form_header {
    margin-top: 10px;
    text-align: center;
    background: lightblue;
    color: black;
    padding-bottom: 10px;
}

th, tr td {
    text-align: center;
}

.name_div, .first_train_div, button#add_train {
    margin-left: 4%;
}

select:focus option.holder {
    display: none;
}

#train_name, #destination, #first_train, #frequency, label {
    width: 96%;
    margin-left: 2%;
}

label {
    font-weight: bold;
}

button#add_train {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 5%;
}

#current_time {
    text-align: center;
    font-weight: 900;
    padding-top: 50px;
    font-size: 3em;
}

.time_holder {
    border: 2px double grey;
    background: lightblue;
}

#clock_header {
    margin-top: 10px;
}

.train_well {
    margin-top: 20px;
}

@media only screen and (max-width: 520px) {
    .display-4 {
        font-size: 2.5rem;
    }
    .time_holder {
        margin-top: 10px;
    }
    input#first_train, select#train_name {
        margin-left: 0px;
    }
    select#state_name, input#destination, input#frequency {
        width: 90%;
        margin: 0 auto;
    }
}


