
table, form {
    border: 2px double grey;
}

form {
    background: lightblue;
}

h4.form_header {
    margin-top: 10px;
    text-align: center;
    background: lightblue;
    color: black;
}

th, tr td {
    text-align: center;
}

select:focus option.holder {
    display: none;
  }

#train_name, #destination, #first_train, #frequency, label {
    width: 96%;
    margin-left: 2%;
}

button#add_train {
    margin-left: 2%;
    margin-bottom: 20px;
}

#current_time {
    text-align: center;
    font-weight: 900;
    padding-top: 50px;
    font-size: 3em;
}


